[Service]
ExecCondition=bash -c '[[ "$(hostname -s)" =~ mgmtnode[0-9]?$ ]]'
ExecStartPre=+/usr/local/bin/slurmctld.startup.sh
ExecStartPost=+/usr/local/bin/slurmctld.startup2.sh
User=slurm
Group=slurm
TimeoutSec=1800
